/* global */
* {
  font-family: Roboto;
  letter-spacing: 1px;
  text-decoration: none;
}
body {
  margin: 0;
  overflow-x: hidden;
  height: 100%;
}
html {
  height: 100%;
}
.container {
  min-height: 100%;
}
/*template*/
/* header */
.header {
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  border-bottom-width: 1px;
  position: relative;
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

.logos {
  width: 150px;
  display: block;
}

#logoitself {
  font-family: Merriweather;
  font-size: 22px;
  letter-spacing: 0px;
}

.headerbutton {
  position: relative;
  display: block;
  width: 110px;
  margin: 0;
}

.headerbtnclass {
  font-size: 16px;
  color: black;
  transition: 0.5s;
}

.headerbtnclass:hover {
  color: #54b948;
  transition: 0.5s;
  letter-spacing: 1.2px;
}

#user {
  height: 30px;
  position: relative;
  top: -270px;
  left: 1255px;
  border-radius: 50%;
}

.nohover {
  position: relative;
  display: block;
  width: 110px;
  margin: 0;
}

.nohover2 {
  font-size: 16px;
  color: black;
}
/*footer*/
.footer {
  width: 100%;
  margin-top: 20px;
  height: 70px;
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  border-color: darkgray;
  bottom: 0px;
  position: relative;
  clear: both;
}
#likewhat {
  position: relative;
  left: 30px;
  bottom: -10px;
  font-size: 16px;
  text-decoration: none;
}

/* css for HomePage.html */
/* main part */
#students {
  width: 100%;
  opacity: 0.4;
}
.mainpart {
  position: relative;
}
#welcomewords {
  font-size: 70px;
  animation-name: appear;
  animation-duration: 2s;
}
#welcome {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}
#introductory {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 23px;
  max-width: 600px;
  text-align: center;

  animation-name: appear;
  animation-duration: 4s;

  display: block;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*app*/
#checkout {
  border-style: solid;
  border-color: lightgray;
  border-width: 1.5px;
  width: 97%;
  margin: auto;
  margin-top: 385px;
  height: 350px;
}
#Our {
  font-size: 38px;
  position: absolute;
  left: 437px;
  top: 1212px;
  color: darkslategray;
  transition: 0.5s;
  letter-spacing: 0.8px;
}
#Our:hover {
  transition: 0.5s;
  color: #54b948;
}
#app {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: #54b948;
  left: 50px;
  top: 25px;
  border-radius: 65px;
}
#apptext {
  font-family: Merriweather;
  font-size: 90px;
  margin: 0px 0px 0px 40px;
  top: 70px;
  line-height: 90px;
  color: white;
  position: relative;
}
#plus {
  font-family: Merriweather;
  font-size: 107px;
  top: -283px;
  color: black;
  left: 195px;
  position: relative;
  color: white;
}
#laptop {
  width: 350px;
  position: absolute;
  left: 580px;
  top: 1340px;
}
#phone {
  width: 100px;
  position: absolute;
  top: 1340px;
  left: 950px;
}
/* aftermain */

#secondpart {
  margin-top: 14px;
}
#leftheading,
#rightheading {
  position: relative;
  font-size: 28px;
  left: 21px;
  top: -10px;
  transition: 3s;
  color: black;
}

#leftheading:hover {
  color: #54b948;
  letter-spacing: 1.2px;
  transition: 2s;
}
.left:hover {
  opacity: 0.9;
  transition: 2s;
}

#rightheading:hover {
  color: #54b948;
  transition: 2s;
  letter-spacing: 1.2px;
}
.right:hover {
  opacity: 0.9;
  transition: 2s;
}

.left {
  width: 48.3%;
  height: 350px;
  float: left;
  border-style: solid;
  border-color: darkgray;
  background-image: url(https://neatoday.org/wp-content/uploads/2016/09/student_stress-e1473787999876.jpeg);
  border-width: 2px;
  margin-left: 19px;
  transition: 2s;
}
.right {
  width: 48.29%;
  height: 350px;
  float: right;
  border-style: solid;
  border-color: darkgray;
  border-width: 2px;
  background-image: url(Sosyal.png);
  margin-right: 19px;
  transition: 2s;
}

/* css for The Problem.html */
#Problempicture {
  width: 100%;
  opacity: 0.72;
  max-height: 750px;
}

#problemintroductory {
  position: absolute;
  top: 84%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 23px;
  max-width: 600px;
  text-align: center;

  animation-name: appear;
  animation-duration: 4s;

  display: block;
}

#suicidestatistics {
  margin: 100px 120px 100px 120px;
  position: relative;
}

#suicidestatistics div p {
  position: relative;
  left: 355px;
  top: -413px;
}

#problemarticles {
  position: relative;
}
.problemarticleheading {
  font-size: 40px;
}

.problemarticletext {
  font-size: 18px;
  position: relative;
  letter-spacing: 1.2px;
  line-height: 27px;
}

#afterproblem {
  border-style: solid;
  border-color: lightgray;
  border-width: 1.5px;
  margin: 50px 50px 50px 50px;
  max-height: 585px;
}
.TheProblemfooter {
  width: 100%;
  margin-top: 0px;
  height: 70px;
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  border-color: darkgray;
  bottom: -1200px;
  position: absolute;
  clear: both;
}

/* css for Our Solution.html */
